/********* VARIALBES FOR FONT SIZE ACCORDING TO DISPLAY SIZE ***********************888*/
$font_size_xs:1rem;
$font_size_sm:1rem;
$font_size_md:1rem;


/***************************** SCREEN SIZE ********************************************/
$screen-extra-small:390px;
$screen-small:576px;
$screen-medium:900px;