html {
  font-size: 16px;
}
body {
  @include media_for_xs($screen-extra-small) {
    font-size: $font_size_xs;
    
   
  }

  @include media_for_sm($screen-small) {
    font-size: $font_size_sm;
    
    
  }

  @include media_for_md($screen-medium) {
    font-size: $font_size_md;
    
  }
}
