
@import 'utilities/functions';


body{

    @include media_for_mobile(320px){
        background-color: red;
        font-size: 9px;
    }
  @include media_for_desktop(768px){
    background-color: yellow;
    font-size: 16px;
}
}