<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet"></link>
        <link href="{{ url_for('static',filename='css/custom.css')}}" rel="stylesheet"></link>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        {{ fontawesome_html() }}
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <title>{{ title }}</title>
    </head>

    <body>
        
            {% block header %}
            {% endblock %}
        
            {% block body %}
            {% endblock %}    
        
            {% block footer %}
            {% endblock %}
        
       
    </body>
    
</html>