{% extends 'base.html' %}
{% block header %}
  
{% endblock %}

{% block body %}
<div class="container  main-container">
  <div class="row zeroth-row">
    <div class="col-xs-12 col-sm-12 col-md-12"><p>Conversation Review Section</p></div>
  </div>
  <div class="row first-row">
    <div class="col-xs-12 col-sm-12 col-md-4 first-col">
      <div class="row first-col-first-row bg-dark text-white"><h6>Conversation List Section</h6></div>
      <div class="row border border-info rounded first-col-second-row">{Actual conversation list}</div>
      <div class="row first-col-third-row"><button id="conversation-list-reloader" class="btn btn-sm btn-primary">Refresh List</button></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4  second-col">
      <div class="row border border-info rounded second-col-first-row bg-dark text-white"><h6>Conversation Section</h6></div>
      <div class="row border border-info rounded second-col-second-row">{Message History}</div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 third-col">
      <div class="row border border-info rounded third-col-first-row bg-dark text-white"><h6>Review Section</h6></div>
      <div class="row border border-info rounded third-col-second-row">{Review tasks}</div>
    </div>
  </div>
</div>
{% endblock %}


{% block footer%}

{% endblock %}