{% extends 'base.html' %}

{% block body %}
<div class="container main-container">
  <div id="nav-row" class="row ">
    <div class="col-md-12 justify-content-center" style="padding: 0em;">
      {% include 'navigation.html' %}
    </div>
  </div>
  <div id="unreviewed-conversations" class="row " >
    <div class="col">
      <div class="row dateselection-row">
        <div class="col-md-12 ">
          <div class="row">
            <div class="col-md-auto">Select Conversations From</div>
            <div class="col-md-auto "><input id="initial-date" type="date"></div>
            <div class="col-md-auto">To :</div>
            <div class="col-md-auto"><input id="final-date" type="date"></div>
            <div class="col-md-auto" id="div-notice"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="row border  bg-info justify-content-center">
            <h6>Conversations List</h6>
          </div>
          <div class="row col-conversation-list border border-info rounded">
            <div class="conv-list-loader" style="display: none;"></div>
            {% if (no_conversation_list!=True) %}
            <div id="conversation_list" class="list-group ">
              {% for item in conv %}
              <!--selecting only items having user messages -->
        
              {% include 'conversation_item.html' %}
              
              {% endfor %}
            </div>
            {% else %}
            {% include 'no_conversation_list.html' %}
            {% endif %}
          </div>
          <div class="row second-row">
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="row  border border-secondary  bg-info justify-content-center">
            <h6>Conversation</h6>
          </div>
          <div class="row col-conversation border border-info rounded">
            {% if (no_conversation_list!=True) %}
            {% include 'conversation_layout.html' %}
            {% else %}
            {% include 'no_single_conv.html' %}
            {% endif %}
          </div>
          <div class="row confidence-row">
            <label for="confidence_value" style="padding-top: .3rem;">Confidence Value : </label>
            <input type="range" id="confidence-level" name="confidence_value" min="0" max="1" step="0.01" value="0.3">
            <input type="text" class="form-control form-control-sm input-font-style" id="confidence-value" size="5"
              value="0.3" readonly>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="row border border-secondary  bg-info justify-content-center">
            <h6>Review Section</h6>
          </div>
          <div class="row review-section border border-info rounded">
            {% include 'review_section.html' %}
          </div>
          <div class="row "></div>
        </div>
      </div>
    </div>
  </div>
  <div id="reviewed-conversations" class="row justify-content-center" style="display: none;min-height: 35em;">
    <div id="reviewed-conversation-column" class="col" style="display: none;"></div>
    <span id="reviewed-message-loader" style="display: none;"><b><i class="fas fa-spinner fa-pulse text-secondary"></i></b><p class="text-secondary">Loading</p></span>
    <span id="query-result" style="display: none;"><p class="text-secondary"></p></span>
  </div>
  <div id="review-history" class="row" style="display: none;">
    <div class="col">
      <dl>
        <dt><a href="https://mongo-analytics-api.herokuapp.com/analytics/totalusers" target="_blank">https://mongo-analytics-api.herokuapp.com/analytics/totalusers</a></dt>
        <dd>
          Gives total number of users or conversations stored so far
        </dd>
        <dt><a href="https://mongo-analytics-api.herokuapp.com/analytics/interactive-sessions" target="_blank">https://mongo-analytics-api.herokuapp.com/analytics/interactive-sessions</a></dt>
        <dd>
          Gives list of interactive session in seconds. Each conversation can have multiple sessions seperated by 1 hour apart.
        </dd>
        <dt><a href="https://mongo-analytics-api.herokuapp.com/analytics/unidentified-message-summary" target="_blank">https://mongo-analytics-api.herokuapp.com/analytics/unidentified-message-summary</a></dt>
        <dd>
          Gives total number of conversations,minimum no. of unidentified messages, maximum no. of unidentified messages and average numbr of unidentified messages
        </dd>
        
      </dl>
    </div>
  </div>
</div>


{% endblock %}