<div class=" row justify-content-center mark-conv-reviewed">
    <div class="col-md-12">
        <div class="row justify-content-center">Item will move to 'Reviewed Conversation' section.</div>
        <div class="row justify-content-center">
            <button id="btn-move-undo" type="button" class="btn btn-link btn-sm" style="color: green;">Undo</button>
            <button id="btn-move-confirm" type="button" class="btn btn-link btn-sm" style="color: red;">Confirm</button>
        </div>
    </div>
    
</div>